---
---

@import "materialize/components/color";
@import "colors";
@import "typography";
@import "materialize/materialize";
@import "side-nav";
@import "make-footer-sticky";

.title {
  text-align: center;
  font-size: 92pt;
  font-weight: 300;
}

.subtitle {
  text-align: center;
}
