<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
        <div class="switch">
          <label>
            <input type="checkbox" id="spinner-switcher">
            <span class="lever"></span>
            Spin to Win
          </label>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="{{ site.website_repo }}">
              <i class="fa fa-github" aria-hidden="true"></i> Website GitHub
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{{ site.app_repo }}">
              <i class="fa fa-gitlab" aria-hidden="true"></i> App GitLab
            </a> (private)
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{{ site.bugtracker }}">
              <i class="fa fa-bug" aria-hidden="true"></i> Bugtracker
            </a> (private)
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="mailto:{{ site.email }}">
              <i class="fa fa-envelope" aria-hidden="true"></i> Send us an E-Mail
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 turbopope
    <a class="grey-text text-lighten-4 right" href="/impressum/">Impressum</a>
    </div>
  </div>
</footer>
