<meta charset="utf-8">
<title>{{ site.title }} | {{ page.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.html_tags }}">
<meta name="author" content="{{ site.html_author }}">


<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<script src="https://use.fontawesome.com/1177b290a6.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize/bin/materialize.min.js"></script>
<script type="text/javascript" src="/js/initializations.js"></script>
<script type="text/javascript" src="/js/spinner-controller.js"></script>
