$violet: #6000D6;
$froly: #F77D7D;

$primary-color: $violet;
$primary-color-light: scale-color($primary-color, $lightness: 50%);
$primary-color-faint: scale-color($primary-color, $lightness: 80%);
$primary-color-dark: scale-color($primary-color, $lightness: -50%);

$secondary-color: $froly;
$secondary-color-light: scale-color($secondary-color, $lightness: 50%);
$secondary-color-faint: scale-color($secondary-color, $lightness: 80%);
$secondary-color-fainter: scale-color($secondary-color, $lightness: 90%);

$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: $secondary-color;

$text-color-dark: color("grey", "darken-4");
$card-link-color: $link-color;

body {
  background-color: color("grey", "lighten-5");
}
