body {
  font-family: 'Comfortaa';
  color: color("grey", "darken-4");
  font-weight: 300;
  font-size: 13pt;
  line-height: 22pt;

  nav, footer {
    font-weight: 400;
    color: white;
    label {
      color: white;
    }
  }

  nav {
    .brand-logo{
      font-size: 3rem;
    }
    ul a{
      font-size: 15pt;
    }
  }

  p {
    font-family: 'Roboto', sans-serif;
  }

  code {
    font-family: 'Roboto-Mono', monospace;
    font-size: 11pt;
    font-weight: 300;
    line-height: 11pt;
  }
}

strong { font-weight: 700; }
.light { font-weight: 300; }
.faint { color: color("grey", "base"); }

.text-mint {
  color: #87FF93;
}

.text-anakiwa {
  color: #94C5FF;
}

.text-heliotrope {
  color: #C97DFF;
}

.text-aquamarine {
  color: #7AFFEA;
}
