body {
  font-family: 'Comfortaa';
  color: color("grey", "darken-4");
}

$card-link-color: $link-color;

strong { font-weight: 700; }
.light { font-weight: 300; }

.text-mint {
  color: #87FF93;
}

.text-anakiwa {
  color: #94C5FF;
}

.text-heliotrope {
  color: #C97DFF;
}

.text-aquamarine {
  color: #7AFFEA;
}
